.card.loop.front {
  border: 5px solid #000000;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  position: relative;

  .pseudo-image {
    aspect-ratio: 1 / 1;
    width: 60%;
    height: auto;
    filter: drop-shadow(4px 5px 6px rgba(0, 0, 0, 0.4));
    position: absolute;
    bottom: 10px;
  }

  .text {
    position: absolute;
    top: 30px;
    font-family: Cinzel, serif;
    font-size: 72px;
  }
}