.pseudo-image.item-candle-color-white {
  background-image: url("../images/cards/item-candle-color-white.png");
}

.pseudo-image.item-candle-color-red {
  background-image: url("../images/cards/item-candle-color-red.png");
}

.pseudo-image.item-candle-color-green {
  background-image: url("../images/cards/item-candle-color-green.png");
}

.pseudo-image.item-candle-color-blue {
  background-image: url("../images/cards/item-candle-color-blue.png");
}

.pseudo-image.item-mug-color-white {
  background-image: url("../images/cards/item-mug-color-white.png");
}

.pseudo-image.item-mug-color-red {
  background-image: url("../images/cards/item-mug-color-red.png");
}

.pseudo-image.item-mug-color-green {
  background-image: url("../images/cards/item-mug-color-green.png");
}

.pseudo-image.item-mug-color-blue {
  background-image: url("../images/cards/item-mug-color-blue.png");
}

.pseudo-image.item-teddy-color-white {
  background-image: url("../images/cards/item-teddy-color-white.png");
}

.pseudo-image.item-teddy-color-red {
  background-image: url("../images/cards/item-teddy-color-red.png");
}

.pseudo-image.item-teddy-color-green {
  background-image: url("../images/cards/item-teddy-color-green.png");
}

.pseudo-image.item-teddy-color-blue {
  background-image: url("../images/cards/item-teddy-color-blue.png");
}

.pseudo-image.item-salts-color-white {
  background-image: url("../images/cards/item-salts-color-white.png");
}

.pseudo-image.item-salts-color-red {
  background-image: url("../images/cards/item-salts-color-red.png");
}

.pseudo-image.item-salts-color-green {
  background-image: url("../images/cards/item-salts-color-green.png");
}

.pseudo-image.item-salts-color-blue {
  background-image: url("../images/cards/item-salts-color-blue.png");
}

.pseudo-image.marble {
  background-image: url("../images/cards/marble.png");
}

.pseudo-image.bow-color-silver {
  background-image: url("../images/cards/bow-color-silver.png");
}

.pseudo-image.bow-color-gold {
  background-image: url("../images/cards/bow-color-gold.png");
}

.pseudo-image.container-box {
  background-image: url("../images/cards/container-box.png");
}

.pseudo-image.container-bag {
  background-image: url("../images/cards/container-bag.png");
}

.pseudo-image.decoration-holly {
  background-image: url("../images/cards/decoration-holly.png");
}

.pseudo-image.decoration-candy-cane {
  background-image: url("../images/cards/decoration-candy-cane.png");
}

.pseudo-image.pattern-trees {
  background-image: url("../images/cards/pattern-trees.png");
}

.pseudo-image.pattern-stripes {
  background-image: url("../images/cards/pattern-stripes.png");
}

.pseudo-image.fruitcake {
  background-image: url("../images/cards/fruitcake.png");
}