.dice.tokens {
  align-items: start;

  .die.tokens {
    display: flex;
    align-items: start;
  }

  .tokens.player {
    .face {
      box-sizing: border-box;
      border: 2px solid #000;
      border-radius: 50%;

      .text {
        font: "Bebas Neue", sans-serif;
        font-size: 56px;
      }
    }

    .face.player-0 {
      background-color: #e6194b;
      border-color: #58060d;
    }

    .face.player-1 {
      background-color: #3cb44b;
      border-color: #0e420e;
    }

    .face.player-2 {
      background-color: #ffe119;
      border-color: #3f300d;
    }

    .face.player-3 {
      background-color: #4363d8;
      border-color: #081020;
    }

    .face.player-4 {
      background-color: #f58231;
      border-color: #301d07;
    }

    .face.player-5 {
      background-color: #911eb4;
      border-color: #2f063f;
    }

    .face.player-6 {
      background-color: #46f0f0;
      border-color: #0b4242;
    }

    .face.player-7 {
      background-color: #aaaaaa;
      border-color: #666666;
    }
  }

  .die.tokens.package {
    .face {
      border: 2px solid #b8c5c9;
      border-radius: 8px;
      box-sizing: border-box;
      border-radius: 7px;
      background:
        radial-gradient(circle at 50% 100%,
          rgba(255, 235, 190, 0.8) 0%,
          rgba(255, 235, 190, 0.25) 25%,
          transparent 55%),
        linear-gradient(to bottom,
          #dfeaf2 0%,
          #edf3f5 45%,
          #f7f1e5 100%);
    }

    .face.property-decoration,
    .face.property-container {
      .image.pseudo-image {
        width: 90%;
        height: 90%;
      }
    }
  }
}